.navbar-collapse {
    padding: 0;
    box-shadow: none;
}
.navbar {
    margin-bottom: 0;
    border: none;
}
.w3l_banner_nav_left{
	float: left;
/*-- agileits --*/
    width: 20%;
    background: #f5f5f5;
}
.wthree_banner_bottom_left_grid_sub{
	float: left;
    width: 20%;
}
.wthree_banner_bottom_left_grid_sub1{
	float:right;
	width:80%;
}
.w3l_banner_nav_right{
	float:right;
	width:80%;
}
.navbar-nav > li {
    float: none;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: #84C639;
    color: #fff;
}
.navbar-nav {
    float: none;
    margin: 0;
	border-top: 1px solid #B58F62;
}
.navbar-nav > li > a {
    color: #212121;
    padding:10px 0px 10px 40px;
    border-bottom: 1px dotted #CDCDCD;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #84C639;
    border: none;
}
.w3ls_vegetables_menu {
    left: 13%;
    border: none;
    padding: 1em;
}
.w3ls_vegetables ul li {
    list-style-type: none;
}
.w3ls_vegetables ul li:first-child {
    margin-bottom:.5em;
}
.w3ls_vegetables ul li a {
    color: #212121;
/*-- w3layouts --*/
    display: block;
    text-decoration: none;
}
.w3ls_vegetables ul li a:hover{
	color:#FA1818;
}
.w3l_banner_nav_right_banner1,.w3l_banner_nav_right_banner,.w3l_banner_nav_right_banner2{
	min-height:500px;
	text-align: right;
	padding:10em 17em 0 0;
	margin-bottom: 5em;
}
.w3l_banner_nav_right_banner{
	background:url(../images/1.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
}
.w3l_banner_nav_right_banner1{
	background:url(../images/2.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
}
.w3l_banner_nav_right_banner2{
	background:url(../images/3.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
}
.w3l_banner_nav_right_banner h3,.w3l_banner_nav_right_banner1 h3,.w3l_banner_nav_right_banner2 h3{
	font-size: 2em;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
	margin-bottom: 1em;
}
.w3l_banner_nav_right_banner h3 span,.w3l_banner_nav_right_banner1 h3 span{
	display:block;
	font-weight:600;
	line-height:2em;
}
.w3l_banner_nav_right_banner2 h3 i{
/*-- agileits --*/
	display:block;
	font-weight:600;
	line-height:2em;
	color:#FA1818;
}
.more a{
	padding:10px 30px;
	background:#84C639;
	font-size:14px;
	text-transform:uppercase;
	font-weight:600;
	text-decoration:none;
	color:#fff;
	position:relative;
	display:block;
}
.more {
    width: 20%;
    text-align: center;
    margin-left:59em;
}
/* Saqui */
.button--saqui {
	overflow: hidden;
	-webkit-transition: background-color 0.3s ease-in, color 0.3s ease-in;
	transition: background-color 0.3s ease-in, color 0.3s ease-in;
}
.button--saqui.button--inverted {
	background: #fff;
	color: #37474f;
}
.button--saqui::after {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 9px 30px;
    color: #FFFFFF;
	-webkit-transform-origin: -25% 50%;
	transform-origin: -25% 50%;
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
	transform: rotate3d(0, 0, 1, 45deg);
	-webkit-transition: -webkit-transform 0.3s ease-in;
	transition: transform 0.3s ease-in;
}
.button--saqui.button--inverted::after {
	color: #fff;
}
.button--saqui:hover::after,
.button--saqui:hover {
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.button--saqui:hover {
	background-color: #FA1818;
	color: #656060;
}
.button--saqui.button--inverted:hover {
	background-color: #3f51b5;
	color: #3f51b5;
}
.button--saqui:hover::after {
	-webkit-transform: rotate3d(0, 0, 1, 0deg);
	transform: rotate3d(0, 0, 1, 0deg);
}